.donation-page {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Change from center to flex-start */
  height: 100vh;
  padding: 20px 20px 0 20px; /* Adjusted top padding */
  box-sizing: border-box;
  background: url('../../images/createDonPic.jpg') no-repeat center center;
  background-size: cover;
}

.donation-container {
  width: 100%; /* Full width */
  max-width: 800px; /* Adjusted width for the form */
  margin-top: 40px; /* Add top margin to push it down slightly if needed */
  padding: 40px;
  background: rgba(237, 213, 213, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}


.donation-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px; /* Added more space between input groups */
}

.input-field,
.select-field, /* Assuming you have select fields, rename if different */
textarea {
  width: 100%; /* Full width */
  padding: 10px;
  margin-bottom: 15px; /* Increased space between inputs */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.save-button {
  width: 100%; /* Full width */
  padding: 15px;
  border: none;
  border-radius: 4px;
  background-color: #d17485; /* Adjust color to match theme */
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  box-sizing: border-box;
}

.save-button:hover {
  background-color: #b56372; /* Darker shade for hover effect */
}
