.messages-container {
  padding: 20px;
  background-image: url('../../images/message.jpg'); /* נתיב התמונה */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5); /* שכבה שחורה חצי שקופה */
  background-blend-mode: overlay; /* ערבוב רקע */
  min-height: 100vh; /* גובה מלא */
}

.messages-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -40px; /* מרווח מעל הכותרת */
}

.messages-header h1 {
  color: white; /* צבע הכותרת */
}

.unread-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  position: absolute;
  right: 10px;
}

.btn-send-message {
  padding: 10px 20px;
  background-color: #90ceea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  position: fixed;
  top: 120px; /* Adjust based on your navbar height */
  left: 20px;
}

.btn-send-message:hover {
  background-color: #005f8b;
  transform: scale(1.05);
}

.messages-list-wrapper {
  max-height: 60vh; /* Reduced height to ensure messages are not hidden by the footer */
  overflow-y: auto;
  margin-bottom: 250px; /* Space between the last message and the footer */
}

.messages-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.message-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  position: relative;
  background: rgba(255, 255, 255, 0.8); /* רקע לבן חצי שקוף להודעות */
  margin-bottom: 10px; /* רווח בין ההודעות */
}

.message-item.unread {
  font-weight: bold;
}

.message-item.read {
  color: gray;
}

.message-item button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  display: inline-block; /* כדי שהכפתורים לא יתכווצו */
  min-width: 100px; /* גודל מינימלי לכפתורים */
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.btn-unread {
  background-color: #69b1b1;
  color: white;
}

.btn-unread:hover {
  background-color: #98c8ca;
}

.btn-view {
  background-color: #77b1d8;
  color: white;
}

.btn-view:hover {
  background-color: #90abbd;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  max-height: 80vh; /* הגבלת גובה המודאל */
  overflow-y: auto; /* הוספת גלילה אנכית למודאל */
}

.btn-close {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #d17485;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-close:hover {
  background-color: #bb5d6d;
  transform: scale(1.05);
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.form-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-bottom: 5px;
  color: black;
}

.form-container input,
.form-container textarea,
.form-container select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-container button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.form-container button[type="submit"] {
  background-color: #4caf50;
  color: white;
}

.form-container button[type="submit"]:hover {
  background-color: #45a049;
}

.form-container button[type="button"] {
  background-color: #f44336;
  color: white;
}

.form-container button[type="button"]:hover {
  background-color: #e53935;
}
