.Registration {
    margin: 0;
    padding: 0;
    background-image: url('../../images/backroundReg.jpg'); /* Ensure the path to your image is correct */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height */
}

.registration-container {
    max-width: 600px;
    margin: 50px auto; /* Center the form on the page vertically and horizontally */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background for the form */
    margin-top: 11px;
}

.registration-form {
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent background for the form */
    border-radius: 8px;
    padding: 20px;
}

.registration-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group input {
    width: 48%; /* Adjust width for spacing */
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background: transparent; /* Makes input backgrounds transparent */
}

.save-button {
    width: 100%;
    padding: 10px;
    background-color: #d17485; /* Adjust to match your theme color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.save-button:hover {
   opacity: 0.9;
}