.settings-page {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #fcdede;

}

.settings-form {
  display: flex;
  flex-wrap: wrap; /* Allows form columns to wrap on smaller screens */
  gap: 20px; /* Space between columns */
  max-width: 800px; /* Adjust as needed */
  background-color: #fcdede;
}

.settings-column {
  flex: 1; /* Each column will take up equal space */
  min-width: 250px; /* Minimum width for each column */
}

.form-control {
  margin-bottom: 20px; /* More space between form controls */
}

.form-control label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  padding-right: 10px;
  background-color: #f1d0d0; /* Darker background for labels */
  color: black; /* Change text color for better contrast */
  padding: 5px 10px;
  border-radius: 5px; /* Optional: Adds rounded corners to the label backgrounds */
}


.form-control input[type="text"],
.form-control input[type="email"],
.form-control input[type="password"],
.form-control input[type="tel"] {
  width: 100%; /* Full width of the form control */
  padding: 10px;
  border-radius: 5px;
  border: 1.5px solid #ccc; /* Replace with your desired border color */
}

.checkbox-control input[type="checkbox"] {
  margin-right: 5px; /* Aligns the checkbox with the label text */
}

.checkbox-control label {
  display: flex;
  align-items: center; /* Vertically centers the checkbox with the label text */
}

.save-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #c99595; /* Replace with your desired button color */
  color: black;
  cursor: pointer;
  align-self: flex-end; /* Aligns the Save button to the right */
  margin-top: -30px;
}

/* Adjustments for right-to-left (RTL) languages like Hebrew */
[dir="rtl"] .settings-form {
  direction: rtl;
}

[dir="rtl"] .form-control label {
  text-align: left; /* Aligns label text to the left for RTL */
  padding-left: 10px; /* More space to the left of label for RTL */
  padding-right: 0; /* Resets right padding for RTL */
}
