.navbar {
    background-color: #e6a1a8; /* Adjust the color to match the image */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: 'Arial', sans-serif; /* Adjust the font family as needed */
  }
  
  .nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin: 0;
    padding: 0; /* Ensure there's no padding affecting the alignment */
  }
  
  .nav-link {
    text-decoration: none;
    color: white; /* Change the text color to white */
    background-color: #d17485; /* Adjust button background to match the image */
    border-radius: 20px; /* Round the edges of the buttons */
    padding: 10px 20px; /* Adjust padding to better fit the content */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }
  
  .nav-link:hover {
    background-color: #bb5d6d; /* Darken button background on hover */
  }
  
  .current-time {
    font-size: 18px;
    color: white; /* Change the text color to white */
    margin-left: auto; /* This will push the current time to the edge */
    padding-left: 20px; /* Add some padding to not stick to the edge */
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 100px; /* Adjust the logo size to match the navbar height */
    height: auto;
    margin-right: 10px; /* Adjust spacing to your preference */
  }
  
  /* Add responsiveness - collapse nav-menu items into a dropdown or hide on smaller screens */
  @media (max-width: 768px) {
    .nav-menu {
      display: none;
      /* Alternatively, you can change this to display:block and style it as a dropdown */
  }
}